html {
 scroll-behavior: smooth;
}

.video-responsive {
 overflow: hidden;
 padding-bottom: 56.25%; // For 16:9 aspect ratio
 position: relative;
 height: 0; // Reset height
}

.video-responsive iframe {
 left: 0; // Position to the left
 top: 0; // Position to the top
 height: 100%; // Full height
 width: 100%; // Full width
 position: absolute; // Absolute positioning within .video-responsive
}

@keyframes moving1 {
 0% {
  transform: translateX(0);
 }
 50% {
  transform: translateX(-20px);
 }
 100% {
  transform: translateX(0);
 }
}

// Background animation style for the gray-50 pulsating thing
@keyframes moving2 {
 0% {
  transform: translateX(0);
 }
 50% {
  transform: translateX(20px);
 }
 100% {
  transform: translateX(0);
 }
}

.animate-moving1 {
 animation: moving1 5s infinite;
}

.animate-moving2 {
 animation: moving2 5s infinite;
}
// Background animation style for the gray-50 pulsating thing end

// hero section text color
.animate-text {
 animation: text 5s ease infinite;
 background: linear-gradient(to right, #f56565, #9f7aea, #667eea);
 background-clip: text;
 color: transparent;
}
.custom-select {
 background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
 background-repeat: no-repeat;
 background-position: right 0.5rem center;
 background-size: 1.25em;
}
.hide-scrollbar {
 /* For Internet Explorer, Edge */
 -ms-overflow-style: none;

 /* For Firefox */
 scrollbar-width: none;

 /* For Chrome, Safari, Opera */
 &::-webkit-scrollbar {
  display: none;
 }
}

/* globals.css */
.selectedClient::before {
 content: "";
 height: 1vw;
 width: 1vw;
 position: absolute;
 left: 0;
 top: 50%;
 border-radius: 100%;
 background-color: #00ff6a;
 filter: blur(3px);
 opacity: 1; /* Show it when the client is selected */
 transform: translateY(-50%);
 transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.clientName {
 transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.selectedClient .clientName {
 transform: translateX(20px); /* Adjust as needed */
}

@keyframes gradientBackground {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}

// pre and atuh pre
.blur-effect {
 overflow: hidden;
 position: relative;
}

.blur-effect::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 height: 3em; /* Adjust this value to control the number of lines blurred */
 background: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0),
  rgba(255, 255, 255, 1)
 );
}
