@import "tailwindcss";
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));
@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
:root {
  --background: hsl(280 33.33% 96.47%);
  --foreground: hsl(216.92 19.12% 26.67%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(216.92 19.12% 26.67%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(216.92 19.12% 26.67%);
  --primary: hsl(255.14 91.74% 76.27%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(267.57 90.24% 91.96%);
  --secondary-foreground: hsl(215 13.79% 34.12%);
  --muted: hsl(268.7 100% 95.49%);
  --muted-foreground: hsl(220 8.94% 46.08%);
  --accent: hsl(292.5 44.44% 92.94%);
  --accent-foreground: hsl(216.92 19.12% 26.67%);
  --destructive: hsl(0 93.55% 81.76%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(267.57 90.24% 91.96%);
  --input: hsl(267.57 90.24% 91.96%);
  --ring: hsl(255.14 91.74% 76.27%);
  --chart-1: hsl(255.14 91.74% 76.27%);
  --chart-2: hsl(258.31 89.53% 66.27%);
  --chart-3: hsl(262.12 83.26% 57.84%);
  --chart-4: hsl(263.39 69.96% 50.39%);
  --chart-5: hsl(263.36 69.3% 42.16%);
  --sidebar: hsl(267.57 90.24% 91.96%);
  --sidebar-foreground: hsl(216.92 19.12% 26.67%);
  --sidebar-primary: hsl(255.14 91.74% 76.27%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(292.5 44.44% 92.94%);
  --sidebar-accent-foreground: hsl(216.92 19.12% 26.67%);
  --sidebar-border: hsl(267.57 90.24% 91.96%);
  --sidebar-ring: hsl(255.14 91.74% 76.27%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}

.dark {
  --background: hsl(24 9.8% 10%);
  --foreground: hsl(226.45 100% 93.92%);
  --card: hsl(270 17.78% 17.65%);
  --card-foreground: hsl(226.45 100% 93.92%);
  --popover: hsl(270 17.78% 17.65%);
  --popover-foreground: hsl(226.45 100% 93.92%);
  --primary: hsl(255.9 95.4% 82.94%);
  --primary-foreground: hsl(24 9.8% 10%);
  --secondary: hsl(272.5 19.35% 24.31%);
  --secondary-foreground: hsl(216 12.2% 83.92%);
  --muted: hsl(270 17.78% 17.65%);
  --muted-foreground: hsl(217.89 10.61% 64.9%);
  --accent: hsl(266.9 19.21% 29.61%);
  --accent-foreground: hsl(216 12.2% 83.92%);
  --destructive: hsl(0 93.55% 81.76%);
  --destructive-foreground: hsl(24 9.8% 10%);
  --border: hsl(272.5 19.35% 24.31%);
  --input: hsl(272.5 19.35% 24.31%);
  --ring: hsl(255.9 95.4% 82.94%);
  --chart-1: hsl(255.9 95.4% 82.94%);
  --chart-2: hsl(255.14 91.74% 76.27%);
  --chart-3: hsl(258.31 89.53% 66.27%);
  --chart-4: hsl(262.12 83.26% 57.84%);
  --chart-5: hsl(263.39 69.96% 50.39%);
  --sidebar: hsl(272.5 19.35% 24.31%);
  --sidebar-foreground: hsl(226.45 100% 93.92%);
  --sidebar-primary: hsl(255.9 95.4% 82.94%);
  --sidebar-primary-foreground: hsl(24 9.8% 10%);
  --sidebar-accent: hsl(266.9 19.21% 29.61%);
  --sidebar-accent-foreground: hsl(216 12.2% 83.92%);
  --sidebar-border: hsl(272.5 19.35% 24.31%);
  --sidebar-ring: hsl(255.9 95.4% 82.94%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl:
    0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer utilities {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;

    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  h1 {
    @apply scroll-m-20 text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .text-small {
    @apply text-sm leading-5;
  }
  .text-normal {
    @apply text-base leading-7;
  }
  .text-medium {
    @apply text-lg leading-7;
  }
  .text-large {
    @apply text-xl leading-8;
  }
  p {
    @apply leading-7;
  }

  p.small {
    @apply text-sm leading-5 not-first:mt-4;
  }
  p.medium {
    @apply text-lg leading-7 not-first:mt-6;
  }
  p.large {
    @apply text-xl leading-8 not-first:mt-8;
  }
  .lead {
    @apply text-muted-foreground text-xl;
  }
  .large {
    @apply text-lg font-semibold;
  }
  small {
    @apply text-sm leading-none font-medium;
  }
  .muted {
    @apply text-muted-foreground text-sm;
  }
  code {
    @apply rounded px-1.5 py-0.5 font-mono text-sm font-medium;
  }

  pre {
    @apply my-6 overflow-x-auto rounded-lg;
  }

  pre code {
    @apply rounded-lg bg-transparent p-0 text-sm;
  }
}
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
