@tailwind base;
@tailwind components;
@tailwind utilities;

code {
 @apply overflow-hidden whitespace-pre-wrap;
}

.primaryButton {
 @apply rounded-md px-3.5 py-2.5 font-medium shadow-md  border-2 bg-gray-800 border-gray-100  text-gray-100;
}

.primaryButton:focus-visible {
 @apply outline outline-2 outline-offset-2 outline-gray-100;
}

.backgroundOverlay {
 @apply bg-dark-secondary;
}

.textOpacity80 {
 @apply text-white/80;
}

::-webkit-scrollbar {
 height: 0px; /* Set the height for horizontal scrollbar */
 width: 0px; /* Set the width for vertical scrollbar */
}

.title-primary {
 @apply tracking-tight text-[clamp(1.875rem,_5vw,_3rem)] leading-tight font-bold;
}

.title-secondary {
 @apply tracking-tight text-[clamp(1.75rem,_4vw,_2.5rem)] leading-tight font-bold;
}

.title-tertiary {
 @apply tracking-tight text-[clamp(1.5rem,_3vw,_1.5rem)] leading-tight font-bold;
}

.paragraph-primary {
 @apply tracking-normal text-[clamp(1.125rem,_1.5vw,_1.25rem)] leading-normal;
}

.paragraph-secondary {
 @apply tracking-normal text-[clamp(0.825rem,_1.25vw,_1rem)] leading-normal;
}
.paragraph-tertiary {
 @apply tracking-normal text-[clamp(0.75rem,_1vw,_0.875rem)] leading-normal;
}

.link-primary {
 @apply rounded-full border-2 border-dark-primary bg-primary hover:bg-light-primary text-dark-primary font-semibold;
}

.link-secondary {
 @apply text-primary bg-dark-primary font-semibold hover:text-primary border-primary rounded-full border-2;
}

.container-primary {
 @apply container mx-auto max-w-7xl px-3;
}
.container-secondary {
 @apply max-w-4xl px-3 mx-auto;
}

@layer components {
 .slider-container-shadow {
  @apply relative overflow-hidden  min-h-[300px];
 }

 .slider-container-shadow::after {
  @apply absolute inset-x-0 bottom-0 h-1/3;
  content: "";
  background: linear-gradient(
   to top,
   theme("colors.dark.primary"),
   rgba(0, 0, 0, 0)
  );
 }
}
